::-webkit-scrollbar{
  display: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
nav{
  
  width: 100vw;
  height: 90px;
  background-color: #0E0D15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 50px;
  font-family: #FFFFFF;
  position: fixed;
  z-index: 1;
}
ul{
  display: flex;
  gap: 130px;
}
.navp{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.watchBtn{
  height: 50px;
  width: 120px;
  border-radius: 10px;
  font-weight: bold;
  color:#0E0D15;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.newBtn{
  height: 50px;
  width: 120px;
  border-radius: 10px;
  font-weight: bold;
  color:white;
  background-color: #4760FF;
  font-size: 18px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.inner1{
  height: 100vh;
  width: 60vw;
  background-color: #0E0D15;
  padding-left: 140px;
  padding-top: 120px;
}

.dummy{
  height: 100vh;
  width: 40vw;
  background-color: #0E0D15;
}

.inner1parent{
  display: flex;
}

#firstHeading1{
  color: white;
  font-size:73.764px;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 40px;
  padding-top: 90px;
}

.inner2{
  display: flex;
  height: 80vh;
  justify-content: space-evenly;
  /* align-items: center; */
  font-family: "DM Sans", sans-serif;
}

#upcomingEvents{
  width: 100vw;
  font-family: "DM Sans", sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 95px;
  font-size: 29.8744px;
}

.card1{
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.cardP{
  color: #0F0E17;
}


#ourmission{
  font-size: 129.087px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.inner4{
  display: flex;
  padding-top: 70px;
  gap: 60px;
}

.Fourthcard1{
  width: 55vw;
  font-family: "DM Sans", sans-serif;
  font-size: 29.8744px;
  font-weight: bold;
  padding-left: 180px;
  padding-top: 100px;
}

#shakeHand{
  border-radius: 15px;
}

.inner4Btn{
  height: 60px;
  width: 180px;
  margin-top: 30px;
  background-color: #0F0E17;
  color: #FFFFFF;
  font-size: 18.441px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.inner5{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.FifthDivCard{
  width: 55vw;
  height: 500px;
  background-image: url(https://cdn.prod.website-files.com/5f3f0a773625d74b815972d0/5f3f0a773625d7398b597320_sermon1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: left;
  border-radius: 15px;
  margin-top: 70px;
}

.FifthDivCard1{
  margin-left: 50px;
}

.FifthDivCard2{
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.Btn1{
  height: 60px;
  width: 180px;
  margin-top: 30px;
  background-color: #232135;
  color: #FFFFFF;
  font-size: 18.441px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.Btn2{
  height: 60px;
  width: 180px;
  margin-top: 30px;
  background-color: #4760FF;
  color: #FFFFFF;
  font-size: 18.441px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.Btn3{
  height: 60px;
  width: 180px;
  margin-top: 30px;
  background-color: #FFFFFF;
  color: #0F0E17;
  font-size: 18.441px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;  
}

#SecondHeading1{
  font-size: 46.1025px;
  font-weight: bold;
  color: #F7F9FC;
  text-shadow: 2px 4px 4px black;
}

.ministries{
  width: 100vw;
  font-family: "DM Sans", sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 95px;
  font-size: 29.8744px;
}

.inner6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.inner6 > .FifthCardParent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.inner6 > .FifthCardParent > a > .Card1{
  height: 350px;
  width: 600px;
  background-image: url(https://images.pexels.com/photos/764681/pexels-photo-764681.jpeg);
  background-size: cover;
  /* opacity: 0.8; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner6 > .FifthCardParent > a > .Card1 > p{
  color: white;
  font-size: 46.1025px;
  font-weight: bold;
  text-shadow: 4px 4px black;
}
a{
  text-decoration: none;
}

.inner6 > .FifthCardParent > .Card2{
  height: 350px;
  width: 600px;
  background-image: url(https://images.pexels.com/photos/1250346/pexels-photo-1250346.jpeg);
  background-size: cover;
  /* opacity: 0.8; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner6 > .FifthCardParent > .Card2 > p{
  color: white;
  font-size: 46.1025px;
  font-weight: bold;
  text-shadow: 4px 4px black;
}

.inner6 > .FifthCardParent > .Card3{
  height: 350px;
  width: 600px;
  background-image: url(https://images.pexels.com/photos/697244/pexels-photo-697244.jpeg);
  background-size: cover;
  /* opacity: 0.8; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner6 > .FifthCardParent > .Card3 > p{
  color: white;
  font-size: 46.1025px;
  font-weight: bold;
  text-shadow: 4px 4px black;
}

.inner6 > .FifthCardParent > .Card4{
  height: 350px;
  width: 600px;
  background-image: url(https://cdn.prod.website-files.com/5f3f0a773625d74b815972d0/5f3f0a773625d73713597347_worship.jpg);
  background-size: cover;
  /* opacity: 0.8; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner6 > .FifthCardParent > .Card4 > p{
  color: white;
  font-size: 46.1025px;
  font-weight: bold;
  text-shadow: 4px 4px black;
}

footer{
  height: 55vh;
  background-color: red;
  /* display: flex; */
  background-color: #F7F9FC;
  margin-top:40px ;
}

footer > .foot1{
  height: 250px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.foot1 > h3{
  margin-bottom: 22px;
  font-size: 15.6749px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #0F0E17;
  
}

.foot1 > p{
  margin-bottom: 15px;
  font-size: 15.6749px;
  font-family: "DM Sans", sans-serif;
  color: #797881;
}

.foot1 > .footInnerCard{
  font-size: 15.6749px;
  font-family: "DM Sans", sans-serif;
  color: #0F0E17;
}

.foot1 > .footInnerCard > h3{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15.6749px;
  color: #0F0E17;
  margin-bottom: 20px;
}

.footInnerCard > form > input{
  height: 51.625px;
  width: 218.312px;
  font-size: 15.6749px;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.footInnerCard > form > button{
  width: 123.172px;
  height: 51.625px;
  background-color: #0F0E17;
  color: #FFFFFF;
  border-radius: 0 10px  10px 0;
  border: none;
  font-size:15.6749px;
}

.foot2{
  background-color: #F7F9FC;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
}

.foot2 > .foot2Inner1{
  height: 80px;
  width: 400px;
  /* background-color: #4760FF; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot2 > .foot2Inner1 > a > img{
  height: 25px;
  opacity: 0.7;
  cursor: pointer;
}
.foot2 > .foot2Inner1 > a > img:hover{
  opacity: 1;
}

.foot2 > .foot2Inner1 > p{
  font-family: "DM Sans", sans-serif;
  font-size: 15.6749px;
  color: #0F0E17;
}

button:hover{
  opacity: 0.8;
}

.foot2Inner1 > p > a{
  font-weight: bold;
  color: black;
  text-decoration: none;

}

/* @media(max-width:500px){
  .homePage{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:500px){
  nav{
    height: 180px;
    flex-direction: column;
  }
}
@media(max-width:500px){
  nav > ul{
    display: flex;
    flex-direction: column;
  }
} */